@model ShowBooksViewModel
@{
    ViewData["Title"] = "Список книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row body-container">
    @Html.Partial("_MenuPartialView")
    <div class="container body-content col-sm-9 col-md-10 col-10 offset-sm-3 offset-md-2">
        <br />
        <div id="messageBox">
            @if (ViewData["message"] != null)
            {
                <div id="alert-closing" class="alert alert-success">@TempData["message"]</div>
            }
        </div>

        <form asp-controller="Home" asp-action="ShowBooks" asp-route-page="1" method="get">
            <h2>Фильтр</h2>
            <div class="form-inline form-group">
                <label for="searchExpr" class="control-label"></label>
                <input name="searchExpr" id="tbSearchExpr" type="text" class="form-control searchTextbox" value="@Model.SearchExpr" />
                <button id="btnSearch" type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <h2>Список книг</h2>
        <div class="container-fluid">
            <div class="row justify-content-around">
                @foreach (var book in Model.Books)
                {
                    @Html.Partial("_BookCardPartialView", book);
                }
            </div>
        </div>

        <br />
        <page-link page-controller="Home" page-action="@Model.ActionName" page-model="@Model.PageViewModel" page-url-searchExpr="@Model.SearchExpr"></page-link>
        <br /><br />
    </div>
</div>

@section Footer {
    <script src="~/js/UserCart.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}