@model TestAppAspCore.ViewModels.IndexBookViewModel
@{
    ViewData["Title"] = "Список книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <form asp-controller="Home" asp-action="ShowBooks" method="get">
        <h2>Фильтр</h2>
        <div class="form-inline form-group">
            <label for="searchExpr" class="control-label"></label>
            <input name="searchExpr" id="tbSearchExpr" type="text" class="form-control" value="@Model.PageViewModel.SearchExpr"/>
            <button id="btnSearch" type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <h2>Список книг</h2>
    <table class="table-condensed">
        <tr>
            <td>Название</td>
            <td>Автор</td>
            <td>Жанр</td>
            <td>Дата создания</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.GenreTitle</td>
                <td>@book.DateCreating.Year</td>
                <td><a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">Изменить</a></td>
                <td><a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Удалить</a></td>
            </tr>
        }
    </table>
    <page-link page-controller="Home" page-action="ShowBooks" page-model="@Model.PageViewModel"></page-link>
    <br />
    <button id="createBook" class="btn btn-primary">Создание книги</button>

</div>
@section Footer {
    <script src="~/js/Basic.js" asp-append-version="true"></script>
}