@model IEnumerable<TestAppAspCore.Models.Genre>
@{
    ViewData["Title"] = "Удалить книгу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Удаление книги</h2>

    <form method="post">
        <input type="hidden" name="Id" value="@ViewBag.Book.Id" />
        <label id="lbForTitle">Наименование: </label><br />
        <input type="text" id="tbTitle" name="Title" readonly value="@ViewBag.Book.Title" /><br /><br />
        <label id="lbForAuthor">Автор: </label><br />
        <input type="text" id="tbAuthor" name="Author" readonly value="@ViewBag.Book.Author" /><br /><br />
        <label id="lbForGenre">Жанр: </label><br />
        <select name="GenreId" >
            <option disabled value="">Выберите жанр</option>
            @foreach (var genre in Model)
            {
                if (genre.Id != ViewBag.Book.GenreId)
                {
                <option disabled value="@genre.Id">@genre.Title</option>
                }
                else
                {
                <option selected value="@genre.Id">@genre.Title</option>
                }

            }
        </select><br /><br />
        <label id="lbForDate">Год создания: </label><br />
        <input type="date" id="numDateRealize" name="DateCreating" readonly value="@ViewBag.Book.DateCreating.ToString("yyy-MM-dd")" /><br /><br />
        <input type="submit" value="Удалить" />
        <br />
        <a href="~/Home/ShowBooks">Назад</a>
    </form>
</div>

