@using QPD.PartialMenuLibrary
@{
    var brandItem = Model.First();
}
@model IEnumerable<MenuElement>
<ul>
    <li class="navbar-brand">
        <a asp-area="@brandItem.AspAreaName"
           asp-controller="@brandItem.AspControllerName"
           asp-action="@brandItem.AspActionName">
            @brandItem.Title
        </a>
    </li>

    @foreach(MenuItem item in Model.Skip(1))
    {
    <li class="navbar-item">
        <a class="nav-link"
           asp-area="@item.AspAreaName"
           asp-controller="@item.AspControllerName"
           asp-action="@item.AspActionName">
            @item.Title
        </a>
    </li>
    }
</ul>
